################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/fullstackreact-main/backend/.env
/fullstackreact-main/my-app/.env
