#root {
  width: 100%;
  min-height: 100vh;
  padding: 0;
  text-align: unset;
  box-sizing: border-box;
  /* Remove max-width and center margin! */
}


.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.main-navbar {
    display: flex;
    align-items: center;
    gap: 2.1rem;
    padding: 0 2.5rem;
    height: 60px;
    background: #15342D;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 50;
    box-shadow: 0 2px 12px #0a1713cc;
}

.navbar-logo {
    width: 100px;
    border-radius: 8px;
    margin-right: 18px;
    object-fit: cover;
    flex-shrink: 0;
}

.navbar-group {
    display: flex;
    gap: 18px;
}

.navbar-auth {
    display: flex;
    gap: 24px;
    margin-left: auto;
    align-items: center;
}


    .main-navbar a {
        color: #fff;
        text-decoration: none;
        font-size: 1.09rem;
        font-weight: 500;
        letter-spacing: .02em;
        padding: 7px 0;
        transition: border-bottom 0.17s, color 0.13s;
        border-bottom: 2px solid transparent;
    }

        .main-navbar a:hover,
        .main-navbar a:focus {
            color: #98ffe0;
            border-bottom: 2px solid #41cba7;
            outline: none;
        }

    .main-navbar .logout-btn {
        margin-left: auto;
        background: #1f5442;
        color: #fff;
        border: none;
        border-radius: 8px;
        padding: 7px 18px;
        font-size: 1rem;
        font-weight: 500;
        cursor: pointer;
        box-shadow: 0 2px 8px #174d3d22;
        transition: background 0.14s, color 0.14s;
    }

        .main-navbar .logout-btn:hover,
        .main-navbar .logout-btn:focus {
            background: #256b52;
            color: #98ffe0;
        }
.navbar-usergroup {
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 20px;
}

.navbar-profile-pic {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #e2e8f0;
    background: #fff;
    box-shadow: 0 1px 8px #0001;
    transition: box-shadow 0.18s, border 0.18s;
}

html, body {
    margin: 0 !important;
}

input,
textarea,
select,
button {
    box-sizing: border-box !important;
}
